* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "MortyFont";
}

@font-face {
  font-family: "MortyFont";
  src: url("/public/get_schwifty.ttf");
}

body {
  background-color: #eef;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.text-align {
  color: #993399;
  text-shadow: 4px 1px 7px #49ff18;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #000; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #49ff18; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #993399; /* creates padding around scroll thumb */
}
